@media screen and (min-width: 200px) and (max-width: 768px) {
  .flex {
    display: block;
  }
  .flex-1 {
    display: flex;
    justify-content: center;
  }
  .menu li {
    padding-bottom: 20px;
  }
}
