* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.red {
  background-color: rgb(146, 87, 87);
}
.flex {
  display: flex;
  justify-content: space-around;
}

#align {
  align-items: center;
}

.menu li {
  padding-right: 40px;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 18px;
}

.doc {
  color: #f7a582;
  font-family: "Source Sans 3";
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0 5px;
}
.house {
  color: #fff;
  font-family: "Source Sans 3";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>;
  font-style: normal; */
}
